<div class="container">
<div class="row">	
<h2 class="text-left">Events</h2></div>
<% if !@event_result.nil?%>
  <% @event_result.each do |f|%>
  <div class="row">
<!--   	       <div class="col-xs-2 text-center">

          </div>
    <div class="col-xs-10 left"> -->
    <%= link_to f.title, event_path(f)%><br><br>
    <small>When: <%= f.event_time%></small><br>
    <small>Where: <%= f.address%></small><br>
  	<!-- </div> -->
  </div>  <!-- end of row -->
   <hr>
  <% end %>

<%else%>
<p>Tough luck. Couldn't find any events by that name.</p>
<% end %>
</div>
