<h1>Events#show</h1>
<br><br>
  There are <%= @event.users.count%> going to this event
<br><br>
   
      Show information about events here ........
      <br>
      <% if !current_user.in?(@event.users)%>
      <%= link_to "Join Event",attend_user_event_path(current_user,@event),class:"btn btn-primary" %>
      <% else %>
          Looking forward to seeing you at the event
       <% end%>
