<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../docs-assets/ico/favicon.png"> -->

    <title>Feed Me</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../dist/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron-narrow.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ page.base_url }}docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">FeedMe</h3>
      </div>

      <div class="jumbotron">
        <h1>Hungry for some home-cooked food?</h1>
        <p class="lead">Find home-cooked meals nearby or enroll as a chef and share your cooking with foodies!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" id="joinnow">Sign up today</a></p>  <p class="lead">OR </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" id="signin">Sign in to existing account</a></p> 
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Foodies</h4>
          <p>Find home-cooked meals by enthusiastic chefs near you at any time. You can get a taste of different cultures and save time,money and find new friends while doing it!  </p>

          <h4>Chefs</h4>
          <p>Party of 2 and cooked for twenty? Don't worry! You can now share it with foodies and earn some money while doing it! </p>

        </div>

      </div>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
